.row_poster {
  width: 100%;
  /* this makes the image contained aka not weird, so after you fix the height or the width the image will be responseve with that */
  object-fit: contain;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row_poster:hover {
  transform: scale(1.08);
}
.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  transform: scale(1.09);
}
.app {
  background-color: #111;
}
.nav {
}
